.mt-8 {
  margin-top: 120px;
}
.projects-container {
  margin-top: 100px;
  background-color: #2f2f2f;
}
.projects-title {
  font-size: 3.4rem;
  text-align: center;
  font-family: comfortaa;
  color: rgb(181, 181, 181);
}

.project-container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-project-image img {
  width: 100%;
  margin: 20px 0;
  object-fit: contain;
  max-height: 270px;
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .single-project-image img {
    margin: 20px 0;
  }
}
