
.modal-xl img{
    height:100%;
}
.modal-content{
    width:210% !important;
    height:100% !important;
    position:absolute !important;;
    left:50% !important;
    transform: translateX(-50%) !important;;
    border:0 !important;;
}
.modal-footer{
    background-color:rgb(0, 0, 0) !important;;
    outline:0 !important;;
    border: 0  !important;;
}
.btn-:active,.btn-:focus{
        box-shadow:0px 0px 0px 1px #551a55 !important;
}

.btn-{
    border-radius:15px;
    margin:0 15px;
    width:130px;
    height:50px;
    background-color:#ffffff !important;
    transition:0.3s;
    font-family: Comfortaa !important;
    color: #6e226e !important;
    outline:0;
    font-weight:900 !important;
    border:1px solid #fbfbfb !important;
    border-radius:100px !important;
}
.btn-:hover{
    transition:0.4s;
        background-color:#551a55 !important;
        color:white !important;

}
@media screen and (max-width:1202px) {
    .modal-content{
    width:150% !important;
    height:100%;;

}
}
@media screen and (max-width:768px) {
    .modal-content{
    width:100% !important;
    height:100%;;
}
.btn- {
    width:80px;
    height: 35px;
    border-radius:5px !important;
    font-size:14px !important;
}

}

@media screen and (max-width:576px) {
.row{
  
}

}

